<app-header-page [title]="pageName"></app-header-page>
<div class="container">
  <div class="row">
    <div class="col-12">
      <figure>
        <img src="" alt="">
      </figure>
    </div>
    <div class="row">
      <div class="col-12">
        <article class="text-center">
          <h2 class="title-article">The Non-Technical Guide to Artificial Intelligence Burbeble</h2>
          <p class="resume">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit maxime quam eveniet vel.
          </p>
          <div class="credit-article">
            <div class="d-flex flex-row justify-content-center">
              <h6 class="mr-3">Autor: Paulo Maccedo</h6>
              <h6 class=ml-3>Data: 21 de junho de 2019</h6>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
