header {

  width: 100%;

  min: {
    height: 768px;
  }

  background: {
    color: black;
    repeat: no-repeat;
    size: cover;

    position: {
      x: center;
    }
  }

  figure.logo {
    width: 10%;
  }

  section.content {
    color: white;
    h1 {
      font: {
        weight: 100;
      }
      span {
        font: {
          weight: 700;
        }
      }
    }

    h5 {
      font: {
        weight: 100;
        size: 1rem;
      }
      letter-spacing: 1rem;
    }

    h4 {
      font: {
        size: 1rem;
      }
    }
    i.fa-play-circle {
      color: white;
      font: {
        size: 7rem;
      }
      cursor: pointer;

      &:hover {
        // color: $danger;
      }
    }

    div.descriptions {
      fa-icon {
        font-size: 2rem;
        padding: 20px;
      }
      h4 {
        font: {
          size: 1.3rem;
          weight: 700;
        }
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 340px) {
  section.content {
    padding: 0;
  }
  header {
    figure.logo {
      width: 30%;
    }
  }
}

@media screen and (min-width: 800px) {
  section.content {
    padding: 400px 100px 0px 100px;
    .descriptions {
      padding: {
        bottom: 40px;
      }
    }
  }
  header {
    figure.logo {
      width: 10%;
    }
  }
}
