@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif !important;
}

h2 {
  font: {
    weight: 900;
    size: 1rem;
  }
}

h4 {
  font: {
    weight: 700;
    size: 1.4rem;
  }
}

article {
  .content {
    p {
      font-size: 1.5rem;
      font-weight: 100;
      letter-spacing: 0.08rem;
      line-height: 2.5rem;
    }
  }
  .title-area {
    h1 {
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      color: rgb(100, 100, 100);
    }
    padding: {
      top: 50px;
      bottom: 50px;
    }
  }
}
