<article *ngIf="stickyPost?.sticky">
  <figure>
    <img src="{{featureMedia?.guid?.rendered}}" class="img-fluid" alt="{{featureMedia?.alt_text}}" title="{{featureMedia?.title?.rendered}}">
  </figure>
    <h2 class="title-article">{{ stickyPost?.title.rendered }}</h2>
    <div class="resume" [innerHTML]="stickyPost?.excerpt.rendered">
    </div>
    <div>
      <app-metadata-post [authorId]="stickyPost?.author" [date]="stickyPost?.date" [alignItems]="'center'"></app-metadata-post>
    </div>
    <div class="mt-3">
      <button class="btn btn-danger" [routerLink]="['/artigos', stickyPost?.id]">Leia mais</button>
    </div>
</article>


